<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h4>&nbsp;&nbsp;<img src="" alt="" class="img-rounded"><span class="naranja-susalud">Sistema de Veterinaria</span> &nbsp;<small>MI MASCOTA</small></h4>
    </div>
    <ul class="nav navbar-top-links navbar-right latizator">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="cambio-clave.html"><i class="fa fa-user fa-fw"></i> Cambiar contrase&ntilde;a</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesi&oacute;n</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>    
<nav class="navbar-fixed-top">
    <div class="navbar-default sidebar latizator" role="navigation" id="menuNavegacion">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
				        <li>
                <a href="#" title="M&oacute;dulo de Mantenimiento"><i class="fa fa-sitemap fa-fw"></i> Mantenimientos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="javascript:cargar( 'clientes.html' );" title="Clientes"><i class="fa fa-caret-right fa-fw"></i> Clientes</a>
                    </li>
                    <li>
                        <a href="javascript:cargar( 'pacientes.html' );" title="Pacientes"><i class="fa fa-caret-right fa-fw"></i> Pacientes</a>
                    </li>
                    <li>
                        <a href="javascript:cargar( 'productos.html' );" title="Productos"><i class="fa fa-caret-right fa-fw"></i> Productos</a>
                    </li>
                    <li>
                        <a href="javascript:cargar( 'servicios.html' );" title="Servicios"><i class="fa fa-caret-right fa-fw"></i> Servicios</a>
                    </li>
                </ul>
            </li>
            <li>
              <a href="#" title="Gestionar"><i class="fa fa-sitemap fa-fw"></i> Gestionar<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="javascript:cargar( 'citas.html' );" title="Citas"><i class="fa fa-caret-right fa-fw"></i> Citas</a>
                </li>
                <li>
                  <a href="javascript:cargar( 'orden-servicios.html' );" title="Ordenes de Servicios"><i class="fa fa-caret-right fa-fw"></i> Ordenes de Servicios</a>
                </li>
                <li>
                  <a href="javascript:cargar( 'recordatorios.html' );" title="Orden de Servicio"><i class="fa fa-caret-right fa-fw"></i> Recordatorios</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</nav>